
.logo img{
    width: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,*::after,
*::before {
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

html{
    scroll-behavior: smooth;
}

body{
    --cl--1--: #ffffff;
    --cl--2--: #14171f;
    --cl--3--: #90151c;
    --cl--4--: #BB595F;
    --cl--5--: #f6f8f7;

    background: var(--cl--1--);
    margin: 0;
}

h1, h2, h3, h4, h5,h6 {
    font-weight: 700;
    color: var(--cl--2--);
    text-transform: capitalize;
    margin: 0;
}

h1 {
   font-size: clamp(40px, 10vw, 70px);
}

h2 {
    font-size: clamp(25px, 5vw, 35px);
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    color: var(--cl--4--);
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row{
    display: flex;
}

.flex {
    flex-wrap: wrap;
    gap: clamp(2em, 5vw, 5em);
}

.flex>* {
    flex: 1 1 253m;
}

.column {
    display: grid;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/*NAVIGATION*/
header{
    align-items: center;
    justify-content:space-between ;
    gap: 2em;
    padding: 0em 0;
}

nav ul {
    align-items: center;
    gap: 2em;;
}

nav a {
    font-weight: 600;
    font-size: 18px;
    color: var(--cl--2--);
    text-transform: capitalize;
}

nav a:hover{
    color: var(--cl--3--);
}
/*END NAVIGATION*/

/* HERO */
.mySwiper {
    position: relative;
}

.hero .swiper-slide{
    background: linear-gradient(90deg, rgba(255,255,255,0.9) 16.58%, rgba(255,255,255,0) 72.30%), url(IMG/inazuma.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero .swiper-slide:nth-child(2) {
    background: linear-gradient(90deg, rgba(255,255,255,0.9) 16.58%, rgba(255,255,255,0) 72.30%), 
                url(IMG/NATLAN.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero .swiper-slide:nth-child(3) {
    background: linear-gradient(90deg, rgba(255,255,255,0.9) 16.58%, rgba(255,255,255,0) 72.30%), 
                url(IMG/court.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero .container {
    align-items: center;
    min-height: calc(100vh - 100px);
}

.hero h1{
    max-width:  550px;
}

.hero .container .row {
    position: absolute;
    right: 0;
    bottom: 76px;
    background-color: var(--cl--3--);
    padding: 2em 2em;
    text-align: center;
    max-width: 398.34px;
}

.hero h3, 
.subscribe-content h2, 
.slide-content h3, 
.about-content h2 {
    color:var(--cl--1--);
}


.hero p, .slide-content p, .slide-content p {
    color: var(--cl--1--);
    padding-top: 1em;
} 

.hero-arrow {
   position: absolute; 
   right: 0;
   bottom: 0;
   align-items: center;
   justify-content: flex-end;
   
}

.swiper-button-prev, .swiper-button-next {
    position: relative;
    font-size: 16px;
    color: var(--cl--1--);
    gap: 0.5em;
    background: var(--cl--4--);
    padding: 1em 4em;
    width: unset;
    height: unset;
    inset: unset;
    margin: unset;
}

.swipper-button-next:after, .swipper-button-prev:after{
    position: absolute;
    color: transparent;
}

/* END HERO */

/* REPUTATION */
.reputation, .project{
    padding: 4em 0; 
}

.reputation h2, .service h2 {
    text-align: center;
}

.reputation-cards,
.service-cards{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: clamp(2em, 5vw, 5em);
    padding-top: 4em;
}/* REPUTATION */
.reputation, .project{
    padding: 4em 0; 
}

.reputation h2, .service h2 {
    text-align: center;
}

.reputation-cards, 
.service-cards{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
    gap: clamp(2em, 5vw, 5em);
    padding-top: 4em;
}

.r-card{
    background: var(--cl--1--);
    padding: 2em;
    border: 1.5px solid var(--cl--4--);
    border-radius: 5px;
}

.r-card h3{
    padding: 1em 0;
}

/* END REPUTATUOPM */

/*ABOUT*/
.about{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
    align-items: center;
    padding: 4em 0;
}

.about-img img, 
.about-content{
    box-shadow: 0px 20px 24px -4px rgba(17,24,39,0.1), 0px 8px 8px 4px rgba(17,24,39,0.1) ;
    border-radius: 5px;
}

.about-content {
    background-color: var(--cl--3--);
    padding: 2em;
}

.about-content p {
    color: var(--cl--1--);
    padding: 1em 0;
}

.about-content a {
   
    margin-top: 1em; 
}


/* PAGE BUTTON 1 */
.page-btn, 
.page-btn.active:hover {
    font-weight: 600;
    font-size: 18px;
    color: var(--cl--3--);
    text-transform: uppercase;
    border: 2px solid var(--cl--1--);
    background: var(--cl--1--);
    padding: 0.5em 1.5em;
    cursor: pointer;
    border-radius: 5px;
}

.page-btn.active, .page-btn:hover {
    background: transparent;
    color: var(--cl--1--);
}

/* END PAGE BUTTON 1 */

/* END ABOUT */

/* SERVICE */
.service-cards {
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: repeat(3, 1fr); /* Fullscreen: 3 columns */
    grid-auto-rows: auto; /* Adjust row height automatically */
    grid-gap: 4em; /* Space between cards */
}

.service, .contact{
    background-color: var(--cl--5--);
    padding: 4em;
    margin: 4em auto;
}

.s-card {
    padding: 4em 2em;
    text-align: center;
    box-shadow: 0px 0px 37px -2px rgba(17,24,39,0.05);
    border-radius: 5px;
}

.s-card:nth-of-type(odd),
.s-card:nth-of-type(even):hover {
    background: var(--cl--1--);
}


.s-card:nth-of-type(even), 
.s-card:nth-of-type(odd):hover{
    background: var(--cl--3--);
}



.icon {
    position: relative;
    padding: 0.5em;
    max-width:  max-content;
    margin: 0 auto;
}

.icon::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 1px;
}


.s-card:nth-of-type(odd) .icon::after{
    background-color: var(--cl--4--);
}

.s-card:nth-of-type(even) .icon::after, 
.s-card:nth-of-type(odd):hover .icon::after{
    background: var(--cl--1--);
}

.s-card:nth-of-type(odd) img, 
.s-card:nth-of-type(even):hover img{
    fill: var(--cl--2--);
}

.s-card:nth-of-type(even) img, .s-card:nth-of-type(odd):hover {
    fill: var(--cl--1--);
}

.s-card h4{
   
    padding-top: 0.5em;
}

.s-card:nth-of-type(odd) h4, 
.s-card:nth-of-type(even):hover h4{
    color: var(--cl--3--);
}

.s-card:nth-of-type(even) h4, 
.s-card:nth-of-type(odd):hover h4{
    color: var(--cl--1--);
}

/* END SERVICE */

/* EXPERIENCE */
.experience {
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 4em 0;
}

.experience-cards {
    flex-direction: row;
    gap: 4em;
    display: flex;
    flex-wrap: wrap;
}

.e-card {
    position: relative;
    border: 1px solid rgba(41,71,160,0.1);
    background: var(--cl--1--);
    padding: 2rem;
    box-shadow: 0px 20px 24px -4px rgba(17,24,39,0.1), 0px 8px 8px 4px rgba(17,24,39,0.1) ;
    min-width: 300px;
    max-width: max-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.e-card h1 {
    margin: 0;
}

.e-card p{
    margin: 0;
}


.e-card:nth-of-type(odd) {
    margin-right: auto;
}


.e-card::after {
    content: "";
    position: absolute;
    top: -50px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.e-card:nth-of-type(odd)::after {
    right: 0;
}

.e-card:nth-of-type(even)::after {
    left: 0;
}

.e-card p{
    position: relative;
    padding-left: 1em;
}

.e-card p::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width:5px;
    background: var(--cl--3--);
}

.experience-content h1 {
    color: var(--cl--3--);
}

.experience-content p {
    padding: 2em 0;
}

/* PAGE BUTTON 2 */
.page-btn-2 {
    font-weight: 600;
    font-size: 18px;
    color: var(--cl--1--);
    text-transform: capitalize;
    border: 2px solid var(--cl--3--);
    background: var(--cl--3--);
    padding:  0.7em 4em;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.page-btn-2:hover {
    background: transparent;
    color: var(--cl--3--);
}

/* END PB 2 */

/* END EXPERIENCE */

/* SUBSCRIBE */
.subscribe {
    background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("IMG/belobog.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 0;
    margin: 0 auto;
}

.subscribe-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
}

.subscribe-content p a {
    color: var(--cl--1--);
    text-decoration: underline;
}
/* END SUBSCRIBE */

/* PROJECT */
.project-filter-slider {
    gap: 4em;
    padding-top: 4em;
}

.filter {
    gap: 1em;
}

.filter div {
    position: relative;
    font-size:  clamp(16px, 5vw, 25px);
    padding-left: 0.7em;
    cursor: pointer;
}

.filter .btn-active {
    font-weight: 700;
    color: var(--cl--3--);
}

.btn-active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 5px;
    background: var(--cl--3--);
}


.project-slider .swiper-slide {
    gap: 1em;
}

.n-none {
    display: none;
}

.slide-content {
    position: absolute; 
    bottom: 0; 
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 0.5em; 
    font-size: clamp(14px, 2vw, 18px); 
    line-height: 1.2;
}
.p-card:hover .slide-content {
    background: var(--cl--4--);
}

.slide-img {
    display: block; 
    position: relative; 
    width: 100%; 
    aspect-ratio: 4 / 3;
    overflow: hidden;
    text-align: center; 
}

.slide-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}
/* END PROJECT */

/* CONTACT */
.contact-content {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.contact-content p {
    padding: 1em 0;
}

.form  {
    flex-wrap: wrap;
    gap: 2em;
}

.form>* {
    flex: 1 1 15em;
}

form input, form select, form textarea {
    padding: 1em 0.5em;
    width: 100%;
    border: 1px solid var(--cl--4--);
    border-radius: 5px;
}

form select option:checked {
    background: var(--cl--3--);
    color: var(--cl--1--);
}

.form+div {
    padding-top: 2em;
}

form p{
    text-align: left;
    padding:  0 0 2em 0 !important;
}
/* END CONTACT */

/* FOOOTER */
footer {
    background: var(--cl--1--);
}

.footer {
    padding: 2em o;
    display: flex;
    align-items: flex-start; /* Align items to the start */
    justify-content: space-between; /* Space between items */
}

footer h5 {
    font-weight: 500;
    font-size: 20px;
    color: var(--cl--3--);
    text-transform: uppercase;
}

.footer-details {
    flex-direction: column-reverse;
    gap: 0.5em;
}

.footer-details lo {
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}

.footer-details li+li {
    padding-top: 0.5em;
}

.footer-details p {
    color: var(--cl--2--);
}

.footer-content h5 {
    padding-bottom: 1em;
}

.footer-content form {
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    padding-bottom: 1em;
}

.footer-content .page-btn-2 {
    pad: 0.7em 1,5em;
}

.media-links {
    align-items: center;
    gap: 2em;
}

.media-links a {
    fill: var(--cl--3--);
}

.media-links a:hover {
    fill: var(--cl--4--);
}

.copy-right {
    background: var(--cl--3--);
    padding: 2em 0;
}

.copy-right p{
    font-size: 12px;
    color: var(--cl--1--);
}


/* END FOOTER */

/*MEDIA*/
@media screen and (min-width:1300px) {
    .container{
        max-width: 1215px;
    }

    .footer-content {
        max-width: 425px;
    }

    .footer-content form input {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    .toggleMenu{
        background-image: url(IMG/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40px;
        width: 40px;
        height: 40px;
        z-index: 1000;
        transition: background-size 0.3s ease-in-out;
    }

    .toggleMenu.active {
        position: fixed;
        right: 5%;
        background-image: url(IMG/back1.png);
        background-size: 35px;
    }

    .navigation{
        position: absolute;
        inset: 0;
        min-height: 0;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(0);
    }

    .navigation.active{
        position: fixed;
        min-height: 100%;
        opacity: 1;
        z-index: 999;
        background: var(--cl--1--);
        transform: scale(1);
    }

    nav ul{
        flex-direction: column;
    }

    .project-filter-slider {
        flex-wrap: wrap;
    }

    .filter{
        overflow-x: scroll;
        padding: 1.5em 0;
    }

    .project-arrow {
        justify-content: center;
        transform: scale(0.65);
    }
}

@media screen and (min-width:900px) {
    .about {
        grid-template-columns: repeat(4, 1fr);
    }

    .about-img, .about-content {
        grid-row: 1/2;
    }

    .about-img {
        grid-column: 1/4;
    }

    .about-content {
        grid-column: 3/-1;
    }

    .experience-cards{
        gap: unset;
    }


    .e-card:nth-of-type(odd)::after {
        right: -30px;
    }

    .e-card:nth-of-type(even)::after {
        left: -30px;
    }

    .subscribe-content {
        justify-content: space-between;
        text-align: unset;
    }

    .filter {
        flex-direction: column;
    }

    .footer-details {
        flex-direction: column;
    }
    
}

@media (min-width: 1024px) {
    .service-cards {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, auto); 
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .service-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto; 
    }
}


@media (max-width: 600px) {
    .service-cards {
        grid-template-columns: 1fr; 
    }
}


@media (max-width: 768px) {
    .e-card {
        flex: 1 1 calc(50% - 2em); 
    }
}

@media (max-width: 480px) {
    .e-card {
        flex: 1 1 100%; 
    }
}

/*END MEDIA */








